$mainColor: #fff;
$backgroundColor: #272626;
$buttonColor: rgba(126, 126, 126, 0.9);
$buttonControlColor: #8dae41;
$mainHoverColor: #659cf7;
$buttonDisabledColor: rgba(126, 126, 126, 0.3);
$lightRedColor: #f16677;
